* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
}

body {
	display: flex;
	position: relative;
	background-image: url(https://caelum-online-public.s3.amazonaws.com/oracle-one-fase2/one-lad-kit-finalizacion/BG_ZOOM_ONE_ESP_%283%29%5B1%5D.png);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center
}

section {
	position: absolute;
	background-color: rgba(0, 0, 255, 0.7);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: 40vh;
	width: 30vw;
	align-items: center;
	justify-content: center
}
section h1 {
	color: #fff;
	text-align: center;
}

.boton {
	display: flex;
	height: 50px;
	width: 100px;
    text-align: center;
}
